<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Главная</title>
    <style>
        ul {
            padding-left: 20px; /* Стандартный отступ */
            margin-left: 0;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="route-div">
        <div class="text-route">
            <div><span class="black-route" onclick="location.replace('/')">Главная / </span><span class="gray-route">Компания</span></div>
            <div class="title-route">Компания</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="title-text">
            О нас
            <span class="title-text-border"></span>
        </div>
        <div class="parent-text">
            {{ about_html|safe }}
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>