<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>    
    <title>Главная</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/static/logo.svg" alt="">
            <span class="logotext">АНО ДПО<br>«СК «Альфа»</span>
        </div>
        <div class="navigation container-row">
            <div class="nav-property" onclick="location.replace('/about')">О нас <span class="brdnav"></span></div>
            <div class="nav-property" onclick="location.replace('/#programs')">Программа<span class="brdnav"></span></div>
            <div class="nav-property" onclick="location.replace('/documents')">Документы<span class="brdnav"></span></div>
            <div class="nav-property" onclick="location.replace('/contact')">Контакты<span class="brdnav"></span></div>
        </div>
    </div>
    <div class="route-div">
        <div class="text-route">
            <div><span class="black-route" onclick="location.replace('/')">Главная / </span><span class="gray-route">Компания</span></div>
            <div class="title-route">Контакты</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="contact-block">
            <div class="text-block">
                <div class="header-text">Автономная некоммерческая организация дополнительного профессионального образования «Стрелковый клуб «Альфа»</div>
                <div class="parent-con">
                    <span class="strong-text-r">Адрес:</span>
                    <span class="light-text-r">627753, Тюменская область, г. Ишим, ул. Рокоссовского, 26 (1/2)</span>
                </div>
                <div class="parent-con">
                    <span class="strong-text-r">Телефон:</span>
                    <span class="light-text-r">8 (34551) 7‑38‑81, +7 912 923‑20‑88</span>
                </div>
                <div class="parent-con">
                    <span class="strong-text-r">Email:</span>
                    <span class="light-text-r">skalfa2016@mail.ru</span>
                </div>
            </div>
            <img src="/static/map.png" alt="">
        </div>
    </div>
    <footer class="footer">
        <div class="logo">
            <img src="/static/logo.svg" alt="">
            <span class="logotext" style="color: white; padding: 20px 0px;">АНО ДПО<br>СК «Альфа»</span>
        </div>
        <div class="block-content">
            <div class="footer-block">
                <span class="title-footer-block">Компания</span>
                <span class="text-footer-block">О компании</span>
            </div>
            <div class="footer-block">
                <span class="title-footer-block">Контакты</span>
                <span class="text-footer-block">Банковские реквизиты</span>
                <span class="text-footer-block">Документы</span>
            </div>
            <div class="footer-block">
                <span class="title-footer-block">8 (34551) 7-38-81<br>+7 912 923-20-88</span>
                <span class="text-footer-block">Email: skalfa2016@mail.ru</span>
                <span class="text-footer-block">Адрес: 627753, Тюменская область, г. Ишим, ул. Рокоссовского, 26 (1/2)</span>
            </div>
        </div>
        <div class="down-block">
            <div class="text-footer-down">© 2010 - 2025 Автономная некоммерческая организация дополнительного профессионального образования «Стрелковый клуб «Альфа»  Все материалы, находящиеся на сайте охраняются в соответствии с законодательством Российской Федерации, в том числе об авторском праве и смежных правах</div>
            <div class="watermark" onclick="location.replace('https://sever-web.ru')">
                <span class="text-footer-block">Разработано</span>
                <img src="/static/slogo.svg" alt="">
            </div>
        </div>
    </footer>
</body>
</html>