<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Главная</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="route-div">
        <div class="text-route">
            <div><span class="black-route" onclick="location.replace('/')">Главная / </span><span class="gray-route">Компания</span></div>
            <div class="title-route">Контакты</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="contact-block">
            <div class="text-block">
                <div class="header-text">Автономная некоммерческая организация дополнительного профессионального образования «Стрелковый клуб «Альфа»</div>
                <div class="parent-con">
                    <span class="strong-text-r">Адрес:</span>
                    <span class="light-text-r">627753, Тюменская область, г. Ишим, ул. Рокоссовского, 26 (1/2)</span>
                </div>
                <div class="parent-con">
                    <span class="strong-text-r">Телефон:</span>
                    <span class="light-text-r">8 (34551) 7‑38‑81, +7 912 923‑20‑88</span>
                </div>
                <div class="parent-con">
                    <span class="strong-text-r">Email:</span>
                    <span class="light-text-r">skalfa2016@mail.ru</span>
                </div>
            </div>
            <img src="/static/map.png" alt="">
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>