<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Главная</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="route-div">
        <div class="text-route">
            <div><span class="black-route" onclick="location.href = '/'">Главная / </span><span class="gray-route">Сведения об образовательной организации</span></div>
            <div class="title-route">Документы</div>
        </div>
    </div>
    <div class="wrapper">
         <div class="title-text">
            Документы
            <span class="title-text-border"></span>
        </div>
        <div class="file-block" style="margin-top: 30px;">
            {% for doc in documents %}
            <div class="file-card" onclick="location.href = '{{ url_for('static', filename='docs/' ~ doc.filename) }}'">
                <img src="/static/doc.svg" alt="">
                <div class="file-text">{{ doc.title }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="title-text" style="margin-top: 30px;">
            Банковские реквизиты
            <span class="title-text-border"></span>
        </div>
        <div class="req-block">
            {% for key, value in requisites.items() %}
            <span><span class="strong-text-r">{{ key }}: </span><span class="light-text-r">{{ value }}</span></span>
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>