<footer class="footer">
    <div class="logo">
        <img src="/static/logo.svg" alt="">
        <span class="logotext" style="color: white; padding: 20px 0px;">АНО ДПО<br>СК «Альфа»</span>
    </div>
    <div class="block-content">
        <div class="footer-block">
            <span class="title-footer-block">Компания</span>
            <span class="text-footer-block" onclick="location.replace('/about')">О компании</span>
        </div>
        <div class="footer-block">
            <span class="title-footer-block">Сведения об образовательной организации</span>
            <span class="text-footer-block" onclick="location.replace('/documents')">Банковские реквизиты</span>
            <span class="text-footer-block" onclick="location.replace('/documents')">Документы</span>
        </div>
        <div class="footer-block">
            <span class="title-footer-block">8 (34551) 7-38-81<br>+7 912 923-20-88</span>
            <span class="text-footer-block">Email: skalfa2016@mail.ru</span>
            <span class="text-footer-block">Адрес: 627753, Тюменская область, г. Ишим, ул. Рокоссовского, 26 (1/2)</span>
        </div>
    </div>
    <div class="down-block">
        <div class="text-footer-down">© 2010 - 2025 Автономная некоммерческая организация дополнительного профессионального образования «Стрелковый клуб «Альфа»  Все материалы, находящиеся на сайте охраняются в соответствии с законодательством Российской Федерации, в том числе об авторском праве и смежных правах</div>
        <div class="watermark" onclick="location.replace('https://sever-web.ru')">
            <span class="text-footer-block">Разработано</span>
            <img src="/static/slogo.svg" alt="">
        </div>
    </div>
</footer> 